﻿body {
    /*font-size: .85em;*/
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.navbar-inverse {
    background-color: #222222;
    border-color: #080808;
}

.navbar-header-manu {
    color: #35CDFF;
    display: block;
}

.main-container {
    margin-top: 60px;
}

.footer {
    position: relative;
    margin-top: 50px; /* negative value of footer height */
    height: 100px;
    clear: both;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.results {
    margin-top: 30px;
}