﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@(ViewBag.Title ?? "Test Application")</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="container main-container">
            <div id="main" class="container">
                <div class="alert alert-danger" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>An error has occurred</strong> <span id="errorMessage"></span>
                </div>
                @RenderBody()
            </div>
        </div>
    </body>
</html>
