﻿<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header col-md-4">
            <a href="../" class="navbar-brand" style="color:#FFD74A;">Organizations App</a>
        </div>
        <nav class="nav nav-pills nav-fill col-md-4 float-left">
            <a class="nav-item nav-link active" href="@Url.Action("Home", "Index", "Home")">Home</a>
            <a class="nav-item nav-link" href="@Url.Action("Search", "Index", "Search")">Search</a>
        </nav>
        <div class="navbar-header-manu col-md-4 float-right">
            Manuel Anaya
        </div>
        @*<nav class="navbar-collapse">

            <ul class="nav navbar-nav pull-left">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">@Html.ActionLink("Search", "Index", "Search")</li>
            </ul>
            <div class="pull-right" id="userbuttons">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li style="color:#35CDFF; height:40px;display: block; padding-top: 15px;">Manuel Anaya</li>
                    </ul>
                </div>
            </div>
        </nav>*@
    </div>
</header>
