﻿@model WebApi.Models.OrganizationsViewModel
@{
    var route = new RouteValueDictionary { { "SortBy", Model.Pager.SortBy }, { "SortDirection", Model.Pager.SortDirection } };
    foreach (var pair in Model.Pager.SearchCriteria)
    {
        route.Add(pair.Key, pair.Value);
    }
}
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="group">
        @if (Model.Pager.ShowPrevious)
                {
                    var routePrevious = new RouteValueDictionary(route) { { "search", Model.GetChangePageModel(Model.Search, Model.Pager, Model.Pager.PreviousPage) } };
                    @Ajax.ActionLink("<<", "UpdateSearch", "Search", routePrevious, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary" })
                }
                else
                {
            <a class="btn btn-secondary" href="#"><<</a>
        }
        @{
            for (var i = 1; i <= Model.Pager.PageCount; i++)
            {
                var routePage = new RouteValueDictionary(route) { { "search", Model.GetChangePageModel(Model.Search, Model.Pager, i) } };
                var elemClass = i == Model.Pager.CurrentPage ? "active" : string.Empty;
                @Ajax.ActionLink(i.ToString(), "UpdateSearch", "Search", routePage, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary " + elemClass })

            }
        }
        @if (Model.Pager.ShowNext)
        {
            var routeNext = new RouteValueDictionary(route) { { "search", Model.GetChangePageModel(Model.Search, Model.Pager, Model.Pager.NextPage) } };
            @Ajax.ActionLink(">>", "UpdateSearch", "Search", routeNext, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary" })
        }
        else
        {
            <a class="btn btn-secondary" href="#">>></a>
        }
    </div>
    <div class="dropdown">
        <button type="button" id="btnJumpToDropDown" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jump to page
        </button>
        <div class="dropdown-menu" role="menu" aria-labelledby="btnJumpToDropDown">
            @for (var i = 1; i <= Model.Pager.PageCount; i++)
            {
                var routeJump = new RouteValueDictionary(route) { { "search", Model.GetChangePageModel(Model.Search, Model.Pager, i) } };
                @Ajax.ActionLink(i.ToString(), "UpdateSearch", "Search", routeJump, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "dropdown-item" })
            }
        </div>
    </div>
</div>

@Html.Hidden("hdnSortBy", Model.Pager.SortBy) @Html.Hidden("hdnSortDirection", Model.Pager.SortDirection)
