﻿<p><h2>Define Organizations</h2></p>

<div class="panel panel-primary">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Enter organizational schema
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="form-group"> 
                            <textarea class="form-control form-control-sm" id="jsoninput" name="jsoninput" rows="20">@ViewBag.JsonInput</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Instructions
                </div>
                <div class="card-body">
                    <h5 class="card-title">Inserting a new json</h5>
                    <p class="card-text">The Json must be compliant with this validation schema:</p>
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <code class="font-weight-light">
                                { <br />
                                &#8195; "$schema": "http://json-schema.org/draft-04/schema#", <br />
                                &#8195; "type": "object", <br />
                                &#8195; "additionalProperties": false, <br />
                                &#8195; "anyOf": [ <br />
                                &#8195; &#8195; {"required": ["org_name"]} <br />
                                &#8195; ], <br />
                                &#8195; "properties": { <br />
                                &#8195; &#8195;"org_name": { <br />
                                &#8195; &#8195; &#8195;"type": "string" <br />
                                &#8195; &#8195;}, <br />
                                &#8195; &#8195;"daughters": { <br />
                                &#8195; &#8195; &#8195;"type": "array", <br />
                                &#8195; &#8195; &#8195;"items": {"$ref": "#"} <br />
                                &#8195; &#8195;} <br />
                                &#8195; }, <br />
                                &#8195; "required": ["org_name"]<br />
                                } <br />
                            </code>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
