﻿<div class="panel panel-primary">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    This is the WEB API
                </div>
                <div class="card-body">
                    Hello world!
                </div>
            </div>
        </div>
    </div>
</div>
