﻿@model WebApi.Models.OrganizationsViewModel

<div class="panel panel-primary">

    <div class="card">
        <h5 class="card-header">
            Search Organizations
        </h5>
        <div class="card-body">
            @using (Html.BeginForm("Index", "Search", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="form-group row">
                        <label for="Search_Name" class="col-sm-3 col-form-label float-sm-left">Organization name</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(e => e.Search.Name, new { @class = "form-control", placeholder = "Type an organization name" })
                        </div>
                    </div>
                    <div>                        
                        <div class="form-check form-check-inline">
                            @Html.CheckBoxFor(e => e.Search.ShowParent, new { @class = "form-check-input" })
                            <label class="form-check-label" for="Search_ShowParent">Show Parent</label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.CheckBoxFor(e => e.Search.ShowSisters, new { @class = "form-check-input" })
                            <label class="form-check-label" for="Search_ShowSisters">Show Sisters</label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.CheckBoxFor(e => e.Search.ShowDaughters, new { @class = "form-check-input" })
                            <label class="form-check-label" for="Search_ShowDaughters">Show Daughters</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            }
        </div>
    </div>
    <div class="results" id="results">
        @if (Model.Organizations != null && Model.Organizations.Any())
        {
            Html.RenderPartial("_SearchResults", Model);
        }
        else
        {
            <h5 class="card-body">There are no organizations to display.</h5>
        }        
    </div>
</div>
