﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@(ViewBag.Title ?? "Test Application")</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @Html.Partial("_NavBar")
        <div class="container main-container">
            <div id="main" class="container">
                <div class="alert alert-danger" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>An error has occurred</strong> <span id="errorMessage"></span>
                </div>
                @RenderBody()
            </div>
            @Html.Partial("_Footer")
        </div>
    </body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if(!string.IsNullOrEmpty(ViewBag.ErrorTitle) && !string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        Html.RenderPartial("_Modal", new Tuple<string, string>(ViewBag.ErrorTitle, ViewBag.ErrorMessage));        
    }
</html>
