﻿@model WebUi.Models.OrganizationsViewModel
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="group">
        @if (Model.Pager.ShowPrevious)
        {
            var routePrevious = new RouteValueDictionary { { "Page", Model.Pager.PreviousPage } };
            @Ajax.ActionLink("<<", "ChangePage", "Search", new { page = Model.Pager.PreviousPage }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary" })
        }
        else
        {
            <a class="btn btn-secondary" href="#"><<</a>
        }
        @{
            if (Model.Pager.PageCount > 20)
            {
                var currentPage = Model.Pager.CurrentPage;
                if (Model.Pager.CurrentPage <= 5 && Model.Pager.CurrentPage <= Model.Pager.PageCount - 5)
                {
                    for (var i = 1; i <= 5; i++)
                    {
                        var routePage = new RouteValueDictionary { { "page", i } };
                        var elemClass = i == Model.Pager.CurrentPage ? "active" : string.Empty;
                        @Ajax.ActionLink(i.ToString(), "ChangePage", "Search", new { page = i }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary " + elemClass })
                    }
                    <div class="text-white" style="margin:0 20px">...</div>
                    for (var i = Model.Pager.PageCount - 5; i <= Model.Pager.PageCount; i++)
                    {
                        var routePage = new RouteValueDictionary { { "page", i } };
                        var elemClass = i == Model.Pager.CurrentPage ? "active" : string.Empty;
                        @Ajax.ActionLink(i.ToString(), "ChangePage", "Search", new { page = i }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary " + elemClass })
                    }
                }
                else
                {
                    var minRange = Model.Pager.CurrentPage - 5 > 0 ? Model.Pager.CurrentPage - 5 : 1;
                    var maxRange = Model.Pager.CurrentPage + 5 < Model.Pager.PageCount ? Model.Pager.CurrentPage + 5 : Model.Pager.PageCount;
                    for (var i = minRange; i <= maxRange; i++)
                    {
                        var routePage = new RouteValueDictionary { { "page", i } };
                        var elemClass = i == Model.Pager.CurrentPage ? "active" : string.Empty;
                        @Ajax.ActionLink(i.ToString(), "ChangePage", "Search", new { page = i }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary " + elemClass })
                    }
                }



            }
            else
            {
                for (var i = 1; i <= Model.Pager.PageCount; i++)
                {
                    var routePage = new RouteValueDictionary { { "page", i } };
                    var elemClass = i == Model.Pager.CurrentPage ? "active" : string.Empty;
                    @Ajax.ActionLink(i.ToString(), "ChangePage", "Search", new { page = i }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary " + elemClass })

                }
            }
        }
        @if (Model.Pager.ShowNext)
        {
            var routeNext = new RouteValueDictionary { { "page", Model.Pager.NextPage } };
            @Ajax.ActionLink(">>", "ChangePage", "Search", new { page = Model.Pager.NextPage }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "btn btn-secondary" })
        }
        else
        {
            <a class="btn btn-secondary" href="#">>></a>
        }
    </div>
    <div class="dropdown">
        <button type="button" id="btnJumpToDropDown" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jump to page
        </button>
        <div class="dropdown-menu" style="max-height:500px; overflow-y:auto;" role="menu" aria-labelledby="btnJumpToDropDown">
            @for (var i = 1; i <= Model.Pager.PageCount; i++)
            {
                var routeJump = new RouteValueDictionary { { "page", i } };
                @Ajax.ActionLink(i.ToString(), "ChangePage", "Search", new { page = i }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results" }, new { @class = "dropdown-item" })
            }
        </div>
    </div>
</div>

@Html.Hidden("hdnSortBy", Model.Pager.SortBy) @Html.Hidden("hdnSortDirection", Model.Pager.SortDirection)
