﻿@model WebUi.Models.OrganizationsViewModel

<div class="card">
    <div class="card-header">@Model.Organizations.First().TotalCount results found</div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Relationship</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var organization in Model.Organizations)
                {
                    <tr>
                        <th scope="row">@organization.RelatedNode</th>
                        <td>@organization.Relationship</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-secondary">
        @Html.Partial("_SearchResultsPager", Model)
    </div>
</div>
